<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.webmyne.controllerdemo">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.EditActivity" />
        <activity android:name=".ui.TextActivity" />
        <activity android:name=".ui.ImageActivity" />
        <activity android:name=".ui.RadioActivity" />
        <activity android:name=".ui.ButtonActivity" />
        <activity
            android:name=".SearchActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".ui.ToggleButtonActivity" />
        <activity android:name=".ui.ProgressBarActivity" />
        <activity android:name=".ui.SeekBarActivity" />
        <activity android:name=".ui.QuickContactActivity" />
        <activity android:name=".ui.AutoCompleteTextViewActivity" />
        <activity android:name=".ui.MultiAutoCompleteTextViewActivity" />
        <activity android:name=".ui.ChronometerActivity" />
        <activity android:name=".ui.AdapterViewFlipperActivity" />
        <activity android:name=".ui.StackViewActivity" />
        <activity android:name=".ui.ImageSwitcherActivity" />
        <activity android:name=".ui.TextSwitcherActivity" />
        <activity android:name=".ui.ViewSwitcherActivity"></activity>
    </application>

</manifest>